
  /* cart */

  .cart table{
    width:100%;
    border-collapse: collapse;
}
.cart .prodcut-info{
  display:flex;
 flex-wrap:wrap;
}
.cart .prodcut-info p{
    margin:2px;
}
.cart th{
    text-align:left;
    padding:7px 10px;
    color:#fff;
    background-color:  #201d64;
}
.cart td{
    padding:10px 20px;
}

.cart td img{
    width: 80px;
    height:80px;
    margin-right:10px;
}
.cart td input.num{
    width:40px;
    height:30px;
    padding: 5px;
}
.cart td a{
    color: #201d64;
    text-decoration: none;

}
.cart td .remove-btn{
    color: #201d64;
    font-size: 15px;
    background-color: transparent;
    border:none;
    width:100%;
    color: #ee1a36;
    cursor: pointer;
    font-weight:500;
}
.cart td .edit-btn{
 font-size:14px;
}
.cart-total{
  display: flex;
  justify-content: flex-end;
}
.cart-total table{
  width:100%;
  max-width:500px;
  /* border-top:3px solid #fb774b; */
  border-top:3px solid  #201d64 ;

  margin-top:5px;
}
th:last-child{
  text-align:right;
}
td:last-child{
  text-align: right;
}
.checkout-btn{
  background-color:  #201d64;
  color:#fff;
}
.checkout-container{
  display: flex;
  justify-content: flex-end;
}



 /* chekout page */

 #chekcout-form .checkout-small-element{
  display:inline-block;
  width:48%;
  margin:10px auto;
  border-color: none;
}
 
#chekcout-form  .form-control{
  border:#201d64 solid 2px;
  border-radius: 12px;
    margin-bottom: 30px;
   padding: 5px 20px ;
    font-family: poppins;

}
#chekcout-form  .form-control input:focus {
  border-color: yellow;
}


#chekcout-form .checkout-larg-element{
  width:96.5%;
}
#chekcout-form  .checkout-btn-container{
  margin: 10px;
  text-align:right;
  margin-right: 44px;
}
#chekcout-form #checkout-btn{
  color:#fff;
  background-color: #201d64;
}
